
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;900&display=swap');

:root {
    --main-bg-color: #f9f9f9;
    --primary-text-color: #424242;
    --accent-color: #ff3f3c; 
}

body {
    background: var(--main-bg-color);
    color: var(--primary-text-color);
    font-family: "Inter", sans-serif;
    margin: 0;
    padding-bottom: 50px;
}

header {
    padding: 20px;
    margin-bottom: 100px;
}

header h1 {
    margin: 0;
    font-weight: 600;
    font-size: 1.5em;
}

main {
    background: url("polaroid.png") no-repeat center 100px;
    margin: 0 auto;
    width: 1000px;
}

.hero {
    text-align: center;
    min-height: 800px;
}

.hero h2 {
    font-size: 9em;
    line-height: 1em;
    text-transform: uppercase;
    margin: 0;
}

.details {
    line-height: 1.5em;
    width: 800px;
    margin: 0 auto;
}

.details h3 {
    font-size: 2.5em;
    text-align: center;
    margin-top: 50px;
}

.details ul li {
    list-style-type: none;
    margin: 20px 0;
    padding: 0 0 0 40px;
}

.details ul li.wifi {
    background: url("wifi-solid 1.svg") no-repeat center left;
    background-size: 25px;
}

.details ul li.cloud {
    background: url("cloud-arrow-up-solid 1.svg") no-repeat center left;
    background-size: 25px;
}

.details ul li.qr {
    background: url("qrcode-solid 1.svg") no-repeat center left;
    background-size: 25px;
}

.details ul li.photo {
    background: url("photo-film-solid 1.svg") no-repeat center left;
    background-size: 25px;
}

.cta {
    text-align: center;
}

.cta h3 {
    font-size: 2.5em;
    margin-top: 50px;
}

form {
    margin: 0 auto;
    width: 800px;
    border-radius: 25px;
    padding: 30px 0;
    background-image: linear-gradient(#f2f2f2, #e6e7e6);
}

input {
    padding: 15px;
    border: none;
}

input[type=text] {
    width: 500px;
    margin-right: 10px;
    background-color: #fcfcfc;
}

input[type=button] {
    width: 150px;
    background-color: var(--accent-color);
    color: white;
    text-transform: uppercase;
    font-weight: 600;
}


